@charset "utf-8";
@import "style.css";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Christian Harwood
   Date: 9/12/2019
   
   Filename: cw_styles.css

*/
/* Structural Styles */
html{
   background: rgb(151, 151, 151);
}
body{
   background: rgb(180, 180, 223);
   font-family: Verdana, Geneva, sans-serif
}
h1, h2{
   font-weight: normal;
}
nav a{
   text-decoration: none;
}
footer{
   background: rgb(101, 101, 101);
   color: white;
   font-size: 0.8em;
   text-align: center;
   padding-top: 1px;
   padding-bottom: 1px;
}
/*changed the background color in the html 
changed background color and font in the body
changed the h1 and h2 font weight
took away the underline in the nav links
changed the fotter background color, text color, font size, 
centered the text added padding for top and bottom
/* Body Header Styles */
body > header{
   background: rgb(97,97,211);
}
body > header > h1 {
   font-size: 4vw;
   color: rgba(255,255,255,0.8);
   font-family: Limelight, cursive;
   margin: 0px;  
}
h1 > span{
   color: rgba(255,255,255,0.4);
}
/*body added a background color and changed the title to a 
different color, font, font size, and took out the margin
cahnged the last word in the title to a different aplha 

/* Navigation Styles */
nav#mainLinks a{
   padding-top: 5px;
   padding-bottom: 5px;
}
nav#mainLinks a:link, a:visited{
   color: white;
}
nav#mainLinks a:hover, a:active{
   opacity: 0.8; 
   background: rgba(51,51,51,0.5);
}
/*changed the top links padding
changed unvisitd and visited links to white,
changed hover and active links to a different background color
and opcity
/* Outline Styles */
nav#outline{
   color: rgb(51,51,51);
   font-size: 0.8em;
}
/* changed the whole color and font size*/
nav#outline h1{
   text-align: center;
}
/* centered all h1's*/
nav#outline > ol{
   line-height: 2em;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 5px;
   margin-right: 5px;
   list-style-type: upper-roman; 
}
/*FIRST LEVEL:added line height, took out top and bottom margin
added left and right margin and the list marker to upper
case roman numerals*/
nav#outline > ol ol{
   list-style-type: upper-alpha;
}
/*SECOND LEVEL: changed list marker to uppercase*/
nav#outline a:visited, a:link{
   color: rgb(101,101,101);
}
/* changed visited and unvisited links color*/ 
nav#outline a:hover, a:active{
   color: rgb(97,97,211);
   text-decoration: underline;
}
/*changed hovering and active links color and made the text underlined*/

/* Section Styles */
section{
   background: rgb(220,220,220);
}
section header h1{
   font-size: 2.2em;
   padding-left: 10px; 
}
/*changed the background color to section
changed h1 in the header of the section to a bigger font size
and added left pading
/* Article Styles */
article h2{
   font-size: 1.4em;
}
article p:first-of-type::first-letter{
   font-size: 2em;
   text-align: center;
}
/*made all h2 font sizes bigger
changed the first letter in the first paragragh to a bigger 
font and centered 
/* Aside Styles */
aside{
   font-size: 0.9em;
}
aside > h1{
   font-size: 1.4em;
   text-align: center;
}
/*made the font size bigger in the whole aside
made the h1's under the aside a bigger font and centered 


